<!DOCTYPE html>

<html>
    <head>
        <title>My todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>My todolist</h1>
<code>
        <ul>
       <% todolist.forEach(function(todo, index1) { %>
            <% priority.forEach(function(p,index2){%>
            <% member.forEach(function(m,index3){%>
            <% index.forEach(function(l,index4){%>
            <% if((index1==index2) && (index2==index3)&&(index3==index4)){%>
            <li><a href="/api/todo/delete/<%= l %>">delete  </a><a href="/api/todo/update/<%= l %>"> update</a>&nbsp;<%= todo %>&nbsp;<%=p %>&nbsp;<%=m %></li><%}})})})});%>

        </ul>
</code>
        <form action="/api/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud be done?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus /><br>
                <label for="newtodo">Assigned to whom?</label>
                <input type="text" name="taskassigned" id="taskassigned" /><br>
                Priority:
                <select name="s1" id="s1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <input type="submit" />
            </p>
        </form>
    </body>
</html>